                  </array>
                  <key>userInterface</key>
                  <dict>
                    <key>iconDarkPath</key>
                    <string>/Library/Application Support/YourCompany/logo.png</string>
                    <key>iconLightPath</key>
                    <string>/Library/Application Support/YourCompany/logo.png</string>
                    <key>updateElements</key>
                    <array>
                      <dict>
                        <key>_language</key>
                        <string>en</string>
                        <key>mainContentText</key>
                        <string>macOS 14.4.1 and 13.6.5 were recently released and you must update soon.\n\nSet a reminder to install the update tonight or over the weekend.\n\nA fully up-to-date device is required to ensure that IT can your protect your device.\n\nIf you do not update your device, you may lose access to some systems necessary for your day-to-day tasks.\n\nTo begin the update, simply click on the button below and follow the provided steps.\n\nFor more information check out https://example.com or contact the IT team in the IT help channel on Slack if you have any questions.</string>
                        <key>mainHeader</key>
                        <string>Your device requires a macOS update</string>
                      </dict>
                    </array>
                  </dict>
                </dict>
              </dict>
            </array>
          </dict>
        </dict>
        <key>PayloadDisplayName</key>
        <string>Custom Settings</string>
        <key>PayloadIdentifier</key>
        <string>com.apple.ManagedClient.preferences.20da0978-a751-4a5f-bbac-e4124c81fa33</string>
        <key>PayloadOrganization</key>
        <string>JAMF Software</string>
        <key>PayloadType</key>
        <string>com.apple.ManagedClient.preferences</string>
        <key>PayloadUUID</key>
        <string>b38395dd-70ec-4013-99d1-387d933d1eaa</string>
        <key>PayloadVersion</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>PayloadDescription</key>
    <string>Configures Nudge to Your Awesome Company's standards</string>
    <key>PayloadDisplayName</key>
    <string>Nudge</string>
    <key>PayloadEnabled</key>
    <true/>
    <key>PayloadIdentifier</key>
    <string>c2bab59a-9f0a-4bd2-bc6b-002fb71cf765</string>
    <key>PayloadOrganization</key>
    <string>Your Awesome Company</string>
    <key>PayloadRemovalDisallowed</key>
    <true/>
    <key>PayloadScope</key>
    <string>System</string>
    <key>PayloadType</key>
    <string>Configuration</string>
    <key>PayloadUUID</key>
    <string>c66a7669-83b1-4a9e-b517-97fd669e26b1</string>
    <key>PayloadVersion</key>
    <integer>1</integer>
  </dict>
</plist>
