                    <dict>
                      <key>requiredInstallationDate</key>
                      <string>{{ installation_date }}</string>
                      <key>requiredMinimumOSVersion</key>
                      <string>{{ minimum_version }}</string>
                      <key>targetedOSVersionsRule</key>
                      <string>{{ targeted_os_versions }}</string>
                    </dict>
